@charset "utf-8";
#undertop {
	border-top:1px solid  #cccccc;	
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top:6px;
	background-color: #ffffff;
}
#content {
	background: url(../images/contentbg.png)repeat-x;
	width: 100%;
	padding-bottom: 50px;
}
h2{
	color:#0f298d;
	font-weight: bold;
	font-size: 24px;
}
.mainLeft{
	margin-top: 42px;
	float: left;
	width:200px;
}
.style li {
    border-bottom: 1px solid #CCC;
    background: no-repeat left url('../images/arr.png');
    padding-left: 10px; 
  margin-top: 20px;
  }
.style .cur {
    background-image: url('../images/arr1.png');
    font-weight: bold;
  }
.mainRight{
	margin-top: 45px;
    float:right;
    width:770px;
}
.lx{
	color:#000000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.f1{
	font-size: 14px;
	font-weight: bold;
}
.device li {
	width: 256px;
	float:left;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 254px；
}

.device ul,.device li {
	float: left;
	text-align: center;
}
.pages{
	text-align:right;
	margin-top: 23px;
}
.pagesLeft{
	float:left;
}
.pagesRight{
    float：left;
}

.device li a {
	display: block;
	text-align: center;

	padding: 10px 8px 0;
}
.device li a:hover {
	background: #10298E;

}
.device li span {
	display: block;
	line-height: 54px;
}
